{:info/repl-ready {:startup-time-ms Long
                   :project-types [String]
                   :dependencies {String String}}
 :event/op-requested {:op String
                      ,,, ;; extra fields for some ops
                      }
 :event/op-completed {:op String
                      :time-ms Long
                      ,,, ;; extra fields for some ops
                      }
 :event/tests-executed {:summary {:ns Integer
                                  :var Integer
                                  :test Integer
                                  :pass Integer
                                  :fail Integer
                                  :error Integer}
                        :ns [String]
                        :elapsed-time-ms Long}
 :event/test-passed {:ns String
                     :var String
                     :file String
                     :error String
                     :context String}
 :event/test-failed {:ns String
                     :var String
                     :file String
                     :error String
                     :context String}
 :event/test-errored {:ns String
                      :var String
                      :file String
                      :error String
                      :context String}}
